/* 桌機 */
@media (min-width: 992px) {
    .questionBlcok{
        flex:3;
    }
    
    .animationBlcok{
        flex:2;
    }

}
/* 平板 */
@media (min-width: 768px) and (max-width:991px) {
    .questionBlcok{
        flex:3;
    }
    
    .animationBlcok{
        flex:2;
    }

}
/* 手機 */
@media (max-width: 767px) {
    .questionBlcok{
        flex:3;
    }
    
    .animationBlcok{
        flex:0;
    }
    
    .circle-object,
    .square-object,
    .triangle-object {
        width: 0;
    }

}
/* For320px */
@media (max-width: 340px) {


}